.header {
  width: 100%;
  border-bottom: 1px solid #e2e8f0;
  background: white;
}

.headerInner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;

  display: flex;
  align-items: center;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #22c55e;
}

.logo h2 {
  font-size: 20px;
  font-weight: 700;
  color: #111;
}

/* NAV */

.nav {
  display: flex;
  gap: 25px;
  margin-left: 40px;
  margin-right: auto; /* empuja acciones a la derecha */
}

.nav a {
  text-decoration: none;
  color: #475569;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav a:hover {
  color: #111;
}

/* ACTIONS */

.headerActions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* SEARCH */

.search {
  padding: 8px 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}

/* BUTTON */

.btnPrimary {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btnPrimary:hover {
  background: #16a34a;
}

/* AVATAR */

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCagDj47NrOFMjwwwTEK2zFLINNOzbts3fg0PXOPDZzEHOf_bFZIveKci1Ddq8-qWd9Z1SZ2bscGzff-7RkUTDz7dOwRyIcwU5kuDcCsXKY1IoSyQeG9Tir_-xK5Jw9OhfxmBvkGwX36fd6p9oC7Lzy4WnnnijLTZohnkJgT9gazlKHlyC_UZsHrzE_jUDbk094utn3Y49ICKzWUtaB3C3rw_HddUjOT_C4Grhv6v5dT3GkiwwqqaSOOgC3rAfORKtnPW-rfKw3VPQ");
  background-size: cover;
  background-position: center;
}
